<nav class="navbar navbar-expand-lg navbar-light bg-danger mb-2">
    <div class="container-fluid">
        <a routerLink="/recipes" class="navbar-brand text-white">Wedoochallenge</a>
        <button class="navbar-toggler ml-auto" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>


        <div class="collapse navbar-collapse " id="navbarNavDropdown">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item pointer" routerLinkActive="active"><a routerLink="/shopping-list" class="nav-link text-white">Acceuil</a></li>
            </ul>
        </div>
    </div>
</nav>